/* main color #2A9EB8  */
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
span {
  font-family: "Padauk", sans-serif;
}
.bg-decoration {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(113, 109, 109, 0) 10%,
    rgba(187, 185, 185, 0) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}
.btn {
  @apply border py-2 px-5 bg-[#2A9EB8] text-gray-100 rounded-sm hover:bg-zinc-500  transition duration-200;
}
.btn-outline {
  @apply border font-bold hover:bg-white py-2 px-5 border-[#2A9EB8] hover:text-[#2A9EB8] rounded-sm bg-[#2A9EB8] text-white transition duration-200;
}

.bg-decoration-main {
  background: rgb(187, 185, 185);
  background: linear-gradient(
    180deg,
    rgba(187, 185, 185, 0) 79%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card-heading {
  @apply text-[#2A9EB8];
}
.icon-container {
  @apply bg-[#2A9EB8] text-white;
}
.foot {
  @apply w-10 h-10 bg-white text-[#2A9EB8] hover:text-white hover:bg-[#2A9EB8] border-[#2A9EB8] border flex items-center justify-center rounded-full transition duration-150;
}
.card-icon {
  @apply text-4xl;
}
.con {
  @apply w-40 h-40 text-3xl hover:bg-white my-5  text-white bg-gradient-to-r from-[#2A9EB8] to-[#3ac4e3] border-[#2A9EB8] border flex items-center justify-center rounded-xl transition duration-150;
}
